<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User List</title>
</head>
<body>
<h2>All Users</h2>
<table border="1">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
    </tr>
    <tr th:each="users : ${users}">
        <td th:text="${users.id}"></td>
        <td th:text="${users.fname}"></td>
        <td th:text="${users.lname}"></td>
        <td th:text="${users.email}"></td>
    </tr>
</table>
</body>
</html>