
<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
        <body style="background-color: lightgreen;">
            <div class="container">
                <h1 style="text-align: center;">Welcome to Images Store</h1>
                <p style="text-align: center;">Hi! there who running this page</p>

                <form action="/main/home" method="POST" style="text-align: center;">
                    <input type="text" placeholder="Register mail" name="email">
                    <input type="password" placeholder="password" name="password">
                    <button type="submit">Sign In</button>
                </form>
            </div>

            <div style="text-align:center;">
                <a href="http://localhost:8080/main/signup" target="_blank">
                    <button>For SignUp</button>
                </a>
            </div>
        </body>
</html>

