<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <style>
        body{
            background : #0e0b1b;
        }
    </style>

</head>
<body>
<div class="container" style="text-align : center;">
    <h2> <span style="color:red">Sign</span> <span style="color:yellow">Up</span></h2>
    <form action="/main/signup" method="POST">
        <input type="text" placeholder="first name" name="fname" required>
        <input type="text" placeholder="last name" name="lname" required><br>
        <br>
        <input type="text" placeholder="Email" name="email" required>
        <input type="password" placeholder="Password" name="password" required><br>
        <br>
        <button type="submit">Sign Up<a href="ContentAccess.html"></a></button>
    </form>
</div>
</body>
</html>
